.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* fix font-weight: huge difference between 500 & 600, no change 100-500 */
h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

.coverImgDiv {
  height: 150px;
}

.coverImg {
  max-height: 100%;
}

.sidebar {
  width: 25%;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  padding-top: 15px;
  padding-right: 2px;
}

.fixedNav {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1;
}

button {
  padding: 10px;
  margin: 2px;
  font-size: large;
  border: none;
  border-radius: 3px;
  cursor: "pointer";
}
.loginButton {
  background-color: springgreen;
  /* btn btn-lg btn-block btn-success */
}
.signUpButton {
  background-color: gold;
  /* btn btn-lg btn-block btn-warning */
}
.mainContent {
  margin-top: 120px;
  display: flex;
  flex-direction: row-reverse;
}

/* .topMargin {
  margin-top: 80px;
} */

.booksUserHasRead {
  color: gray;
  font-style: italic;
}

.formCard {
  margin-top: max(20vh, 140px);
  width: 350px;
}

.formCardWide {
  margin-top: max(20vh, 140px);
  width: 700px;
}

.form-check {
  visibility: hidden;
}

.disclaimer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.passwordRequirements {
  color: red;
  font-size: small;
}

.blueText {
  color: dodgerblue;
}
